-e git://github.com/django/django@b8b15fa09cd9d78c653396c3753dee0ebe729836#egg=Django-dev
-e git://github.com/django-debug-toolbar/django-debug-toolbar.git@b8ea435dd3fc2af702c17b8de93d870d4988e81f#egg=django_debug_toolbar-dev
django-jenkins==0.11.1
django-widget-tweaks==0.3
ipython==0.11
mock==0.7.2
pytz==2011n
tweepy==1.8
wsgiref==0.1.2
