{% extends 'base.html' %}
{% load url from future %}

{% block title %}
    Hello!
{% endblock %}

{% block content %}
    <h2>Timeline</h2>
    <ul class="unstyled">
        {% for status in statuses %}
            <li class="status" data-isodate="{{ status.pub_date|date:"c" }}">
                <blockquote>
                    <p>{{ status.text }}</p>
                    <small>tweeted by <strong><a href="{{ status.author.get_absolute_url }}"
                        >{{ status.author }}</a></strong> on
                        <strong>{{ status.pub_date }}</strong></small>
                </blockquote>
            </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        {% include "statuses/_status_update_form.html" with form=status_form %}
    {% endif %}
{% endblock %}
