<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
<html>
<head>
    <title>Twitz</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'app.css' %}" type="text/css"/>
</head>

<body>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">Twitz</a>
            <ul class="nav">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'settings' %}">Settings</a></li>
                {% endif %}
            </ul>

            {% if user.is_anonymous %}
                <form class="nav pull-right" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input class="input-small" name="username" placeholder="username"/>
                    <input class="input-small" name="password" placeholder="password" type="password"/>
                    <button class="btn" type="submit">Log in</button>
                </form>
            {% else %}
                <form class="nav pull-right" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn" type="submit">Log out</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">

    <div class="content">
        <div class="page-header">
            <h1>{% block title %}Twitz{% endblock %}</h1>
        </div>
        <div class="row">
            <div class="span10">
                {% block content %}
                {% endblock %}

            </div>
            <div class="span4">
                {% block secondary_content %}
                    <p>Your current time:<br>
                        <strong>{% now "r" %}</strong>
                    </p>
                    <p>Your current time zone:<br>
                        <strong>{{ TIME_ZONE }}</strong>
                    </p>
                {% endblock %}
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; Tomek Packowski 2011</p>
    </footer>

</div> <!-- /container -->

</body>
</html>
